<div th:fragment="account-edit">

	<div class="modal fade" id="edit-account" role="dialog" aria-labelledby="edit-accountLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="edit-accountLabel">Edit Account</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-material m-t-20" id="form-edit-account" th:action="@{/edit-account}" method="post">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Name </label> 
									<input type="text" class="form-control form-control-line" id="edit-account-id" name="id" hidden required>
									<input type="text" class="form-control form-control-line" id="edit-account-name" name="name" placeholder="Enter the name" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Initial Balance</label> 
									<input type="text" class="form-control form-control-line maskmoneyclass" id="initialBalance" name="initialBalance" placeholder="0.00" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Include sum on dashboard</label> 
									<select class="form-control" id="includeSumOnDashboard" name="includeSumOnDashboard" required>
										<option value="true">Yes</option>
										<option value="false">No</option>
									</select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-warning">Edit</button>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>

</div>