<div th:fragment="account-add">

	<div class="modal fade" id="add-account" role="dialog" aria-labelledby="add-accountLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="add-accountLabel">Add Account</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-material m-t-20" id="form-add-account" th:action="@{/add-account}" method="post">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Name </label> 
									<input type="text" class="form-control form-control-line" name="name" placeholder="Enter the name" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Initial Balance</label> 
									<input type="text" class="form-control form-control-line maskmoneyclass" name="initialBalance" placeholder="0.00" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Include sum on dashboard</label> 
									<select class="form-control" name="includeSumOnDashboard" required>
										<option value="true">Yes</option>
										<option value="false">No</option>
									</select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>

</div>