<div th:fragment="category-add">

	<div class="modal fade" id="add-category" role="dialog" aria-labelledby="add-categoryLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="add-accountLabel">Add Category</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-material m-t-20" id="form-add-category" th:action="@{/add-category}" method="post">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Name </label> 
									<input type="text" class="form-control form-control-line" name="name" placeholder="Enter the name" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Type</label> 
									<select class="form-control" name="type" required>
									  <option th:each="type : ${T(com.financial.enumarations.CategoryType).values()}" th:value="${type.ordinal()}" th:text="${type}">
									</select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>

</div>