<div th:fragment="method-add">

	<div class="modal fade" id="add-method" role="dialog" aria-labelledby="add-methodLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="add-accountLabel">Add Method</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-material m-t-20" id="form-add-method" th:action="@{/add-method}" method="post">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Name </label> 
									<input type="text" class="form-control form-control-line" name="name" placeholder="Enter the name" required>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Add</button>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>

</div>