<div th:fragment="method-edit">

	<div class="modal fade" id="edit-method" role="dialog" aria-labelledby="edit-methodLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="edit-accountLabel">Edit Method</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-material m-t-20" id="form-edit-method" th:action="@{/edit-method}" method="post">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Name </label>
									<input type="text" class="form-control form-control-line" id="edit-method-id" name="id" hidden required>
									<input type="text" class="form-control form-control-line" id="edit-method-name" name="name" placeholder="Enter the name" required>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-warning">Edit</button>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>

</div>