<div th:fragment="transaction-income-add">
  
  <div class="modal fade" id="transaction-income-add" role="dialog" aria-labelledby="add-income-transactionLabel">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="add-income-transactionLabel">Add Income</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-material m-t-20" id="form-add-income-transaction" th:action="@{/add-transaction}" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Value </label>
                  <input type="text" class="form-control form-control-line" name="posttype" value="0" hidden required>
                  <input type="text" class="form-control form-control-line maskmoneyclass" name="value" placeholder="0.00" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Date </label> 
                  <input type="date" class="form-control form-control-line" name="transactionDueDate" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div id="add-income-account-select-box">
                  <div class="form-group">
                    <label>Account</label>
                    <select class="form-control form-control-line" id="add-income-account-select" name="account" required>
                      <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}"></option>
                    </select>
                    <small><a href="#" onclick="newAddIncomeAccount()">Add a new one</a></small>
                  </div>								
                </div>
                <div id="add-income-account-input-box" style="display: none;">
                  <div class="form-group">
                    <label>Account</label>									
                    <input type="text" class="form-control form-control-line" id="add-income-account-input" placeholder="Enter your new account">
                    <small><a href="#" onclick="existingAddIncomeAccount()">Add an existing one</a></small>
                  </div>								
                </div>
              </div>
              <div class="col-md-4">
                <div id="add-income-category-select-box">
                  <div class="form-group">
                    <label>Category</label>									
                    <select class="form-control form-control-line" id="add-income-category-select" name="category" required>
                      <option th:each="category : ${incomes}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                    <small><a href="#" onclick="newAddIncomeCategory()">Add a new one</a></small>
                  </div>								
                </div>
                <div id="add-income-category-input-box" style="display: none;">
                  <div class="form-group">
                    <label>Category</label>									
                    <input type="text" class="form-control form-control-line" id="add-income-category-input" placeholder="Enter your new category">
                    <small><a href="#" onclick="existingAddIncomeCategory()">Add an existing one</a></small>
                  </div>									
                </div>
              </div>
              <div class="col-md-4">
                <div id="add-income-method-select-box">
                  <div class="form-group">								   
                    <label>Method</label>									
                    <select class="form-control form-control-line" id="add-income-method-select" name="method" required>
                      <option th:each="method : ${methods}" th:value="${method.id}" th:text="${method.name}"></option>
                    </select>
                    <small><a href="#" onclick="newAddIncomeMethod()">Add a new</a></small>
                  </div>
                </div>
                <div id="add-income-method-input-box" style="display: none;">
                  <div class="form-group">								  
                    <label>Method</label>									
                    <input type="text" class="form-control form-control-line" id="add-income-method-input" placeholder="Enter your new method">
                    <small><a href="#" onclick="existingAddIncomeMethod()">Add an existing one</a></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Status</label>
                  <select class="form-control" name="payOrNotPay" required>
                    <option value="true">Paid</option>
                    <option value="false">Not Paid</option>
                  </select>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label>Description </label> 
                  <input type="text" class="form-control form-control-line" name="description">
                </div>
              </div>							
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Is it a recurring transaction?</label>
                  <select class="form-control" id="add-income-recurrent-is-it" name="isItRecurring" required>
                    <option value="true">Yes</option>
                    <option value="false" selected>No</option>
                  </select>
                </div>
              </div>							
              <div class="col-md-4">
                <div id="add-income-recurrent-quantity" style="display: none;">
                  <div class="form-group">
                    <label>Quantity </label> 
                    <input type="number" class="form-control form-control-line" min="1" value="1" id="add-income-quantity" name="quantity" required>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div id="add-income-recurrent-period" style="display: none;">
                  <div class="form-group">
                    <label>Recurring period </label> 
                    <select class="form-control" id="add-income-recurrent-period" name="recurrentPeriod" required>
                      <option th:each="recurrent : ${T(com.financial.enumarations.RecurringPeriod).values()}" th:value="${recurrent.ordinal()}" th:text="${recurrent}">
                      </select>
                    </div>
                  </div>
                </div>													
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          </div>				
        </div>
      </div>
    </div>
    
  </div>