<div th:fragment="transaction-delete">

	<div class="modal fade" id="delete-transaction" role="dialog" aria-labelledby="delete-transactionLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="delete-transactionLabel">Delete Transaction(s)</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-material m-t-20" th:action="@{/delete-transaction}" method="post">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Select an option</label>
									<input type="text" class="form-control form-control-line" id="delete-transaction-id" name="id" hidden required>
									<select class="form-control" name="selection" required>
										<option value="true">I want to delete only this transaction.</option>
										<option value="false">I want to delete this and all transactions linked to this transaction.</option>
									</select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-danger">Delete</button>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>

</div>