<div th:fragment="transaction-edit">
  
  <div class="modal fade" id="transaction-edit" role="dialog" aria-labelledby="edit-transactionLabel">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="edit-transactionLabel">Edit Transaction</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-material m-t-20" id="form-edit-transaction" th:action="@{/edit-transaction}" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Value </label>
                  <input type="text" class="form-control form-control-line" id="edit-transaction-id" name="id" hidden required>
                  <input type="text" class="form-control form-control-line" name="posttype" value="0" hidden required>
                  <input type="text" class="form-control form-control-line maskmoneyclass" id="edit-transaction-value" name="value" placeholder="0.00" required>
                  <small>this change will be applied to this transaction only</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Date </label> 
                  <input type="date" class="form-control form-control-line" id="edit-transaction-duedate" name="transactionDueDate" required>
                  <small>this change will be applied to this transaction only</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                    <label>Account</label>
                    <select class="form-control form-control-line" id="edit-transaction-account" name="account" required>
                      <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}"></option>
                    </select>
                    <small>this change will also apply to all linked transactions</small>
                  </div>
              </div>
              <div class="col-md-4">
               <div id="edit-transaction-category-income-box" style="display: none;"> 
               <div class="form-group">
                    <label>Category</label>									
                    <select class="form-control form-control-line" id="edit-transaction-category-income" name="category" required>
                      <option th:each="category : ${incomes}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                    <small>this change will also apply to all linked transactions</small>
                  </div>
               </div>
               <div id="edit-transaction-category-expense-box" style="display: none;">  
               <div class="form-group">
                    <label>Category</label>									
                    <select class="form-control form-control-line" id="edit-transaction-category-expense" name="category" required>
                      <option th:each="category : ${expenses}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                    <small>this change will also apply to all linked transactions</small>
                  </div>
               </div>                  								
              </div>
              <div class="col-md-4">
                  <div class="form-group">								   
                    <label>Method</label>									
                    <select class="form-control form-control-line" id="edit-transaction-method" name="method" required>
                      <option th:each="method : ${methods}" th:value="${method.id}" th:text="${method.name}"></option>
                    </select>
                    <small>this change will also apply to all linked transactions</small>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Status</label>
                  <select class="form-control" id="edit-transaction-payornotpay" name="payOrNotPay" required>
                    <option value="1">Paid! only for this transaction</option>
                    <option value="2">Not Paid! only for this transaction</option>
                    <option value="3">Paid! for this transaction and all linked</option>                    
                    <option value="4">Not Paid! for this transaction and all linked</option>
                  </select>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label>Description </label> 
                  <input type="text" class="form-control form-control-line" id="edit-transaction-description" name="description">
                  <small>this change will be applied to this transaction only</small>
                </div>
              </div>							
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-warning">Edit</button>
              </div>
            </form>
          </div>				
        </div>
      </div>
    </div>
    
  </div>