<div th:fragment="user-edit">

	<div class="modal fade" id="edit-user" role="dialog" aria-labelledby="edit-userLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="edit-userLabel">Edit User</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-material m-t-20" id="form-add-account" th:action="@{/edit-user}" method="post">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Name </label> 
									<input type="text" class="form-control form-control-line" th:value="${logged.name}" name="name" placeholder="Enter the name" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Login</label> 
									<input type="text" class="form-control form-control-line" th:value="${logged.login}" name="login" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Password</label> 
									<input type="password" class="form-control form-control-line" th:value="${logged.password}" name="password" required>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-warning">Edit</button>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>

</div>