<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

    <!-- ============================================================== -->
    <!-- Head -->
    <!-- ============================================================== -->
    <div th:replace="fragments/templates/head :: head" ></div>
    <!-- ============================================================== -->
    <!-- Head -->
    <!-- ============================================================== -->

<body class="skin-default fixed-layout">

    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div th:replace="fragments/templates/pre-loader :: pre-loader" ></div>
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->

    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Navbar header -->
        <!-- ============================================================== -->
        <div th:replace="fragments/templates/navbar-header :: navbar-header" ></div>
        <!-- ============================================================== -->
        <!-- Navbar header -->
        <!-- ============================================================== -->

        <aside class="left-sidebar">

            <div class="scroll-sidebar">

                <!-- ============================================================== -->
		        <!-- User profile -->
		        <!-- ============================================================== -->
		        <div th:replace="fragments/templates/user-profile :: user-profile" ></div>
		        <!-- ============================================================== -->
		        <!-- User profile -->
		        <!-- ============================================================== -->

                <!-- ============================================================== -->
		        <!-- Menu -->
		        <!-- ============================================================== -->
		        <div th:replace="fragments/templates/menu :: menu" ></div>
		        <!-- ============================================================== -->
		        <!-- Menu -->
		        <!-- ============================================================== -->

            </div>

        </aside>

        <div class="page-wrapper">
            <div class="container-fluid">
            
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Accounts</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
                                <li class="breadcrumb-item active">Accounts</li>
                            </ol>
                            <button type="button" class="btn btn-info d-none d-lg-block m-l-15" data-toggle="modal" data-target="#add-account"><i class="fa fa-plus-circle"></i> Add Account</button>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- Body -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Overview</h4>
                                <h6 class="card-subtitle">View your accounts and wallets here</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Initial Balance</th>
                                                <th>Actual Balance</th>
                                                <th>Include sum on dashboard</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                             <tr th:each="account: ${accounts}">
                                                <td th:text="${account.name}" />
                                                <td th:text="'$ ' + ${account.initialBalance}" />
                                                <td th:text="'$ ' + ${account.actualBalance}" />
                                                <td th:text="${account.includeSumOnDashboard}" />
                                                <td class="text-center">
	                                                <a href="#" title="Edit" th:onclick="'editAccount(\'' + ${account.id} +'\');'" data-toggle="modal" data-target="#edit-account"><i class="ti-pencil-alt text-warning"></i></a>
	                                                &nbsp;&nbsp;&nbsp;
	                                                <a href="#" title="Delete" th:onclick="'deleteAccount(\'' + ${account.id} +'\');'"><i class="ti-trash text-danger"></i></a>
                                                </td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Body -->
                <!-- ============================================================== -->

            </div>
        </div>
        
        <!-- ============================================================== -->
        <!-- Toastr -->
        <!-- ============================================================== -->
        <div th:replace="fragments/templates/toastr :: toastr" ></div>
        <!-- ============================================================== -->
        <!-- Toastr -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- Modals -->
        <!-- ============================================================== -->
        <div th:replace="fragments/modals/account-add :: account-add" ></div>
        <div th:replace="fragments/modals/account-edit :: account-edit" ></div>
        <div th:replace="fragments/modals/user-edit :: user-edit" ></div>
        <!-- ============================================================== -->
        <!-- Modals -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Footer -->
        <!-- ============================================================== -->
        <div th:replace="fragments/templates/footer :: footer" ></div>
        <!-- ============================================================== -->
        <!-- Footer -->
        <!-- ============================================================== -->
    </div>
    
    <!-- ============================================================== -->
    <!-- JavaScript -->
    <!-- ============================================================== -->
    <div th:replace="fragments/templates/javascript :: javascript" ></div>
    
    <script src="/dist/my-javascript/account.js"></script>
    <!-- ============================================================== -->
    <!-- JavaScript -->
    <!-- ============================================================== -->
    
</body>

</html>