<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

    <!-- ============================================================== -->
    <!-- Head -->
    <!-- ============================================================== -->
    <div th:replace="fragments/templates/head :: head" ></div>
    <!-- ============================================================== -->
    <!-- Head -->
    <!-- ============================================================== -->

<body class="skin-default fixed-layout">

    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div th:replace="fragments/templates/pre-loader :: pre-loader" ></div>
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->

    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Navbar header -->
        <!-- ============================================================== -->
        <div th:replace="fragments/templates/navbar-header :: navbar-header" ></div>
        <!-- ============================================================== -->
        <!-- Navbar header -->
        <!-- ============================================================== -->

        <aside class="left-sidebar">

            <div class="scroll-sidebar">

                <!-- ============================================================== -->
		        <!-- User profile -->
		        <!-- ============================================================== -->
		        <div th:replace="fragments/templates/user-profile :: user-profile" ></div>
		        <!-- ============================================================== -->
		        <!-- User profile -->
		        <!-- ============================================================== -->

                <!-- ============================================================== -->
		        <!-- Menu -->
		        <!-- ============================================================== -->
		        <div th:replace="fragments/templates/menu :: menu" ></div>
		        <!-- ============================================================== -->
		        <!-- Menu -->
		        <!-- ============================================================== -->

            </div>

        </aside>

        <div class="page-wrapper">
            <div class="container-fluid">
            
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Dashboard</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                            <button type="button" class="btn btn-success d-none d-lg-block m-l-15" data-toggle="modal" data-target="#transaction-income-add"><i class="fa fa-plus-circle"></i> Add Income</button>
                            <button type="button" class="btn btn-danger d-none d-lg-block m-l-15" data-toggle="modal" data-target="#transaction-expense-add"><i class="fa fa-plus-circle"></i> Add Expense</button>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- Info box -->
                <!-- ============================================================== -->
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div>
                                            <h3><i class="ti-wallet"></i></h3>
                                            <p class="text-muted">SUM OF ACCOUNTS</p>
                                        </div>
                                        <div class="ml-auto">
                                            <h2 class="counter text-primary"> <div th:text="'$ ' + ${statistics.sumAccounts}"></div></h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div>
                                            <h3><i class="ti-arrow-up"></i></h3>
                                            <p class="text-muted">MONTHLY INCOMES</p>
                                        </div>
                                        <div class="ml-auto">
                                            <h2 class="counter text-cyan"><div th:text="'$ ' + ${statistics.incomes}"></div></h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-cyan" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div>
                                            <h3><i class="ti-arrow-down"></i></h3>
                                            <p class="text-muted">MONTHLY EXPENSES</p>
                                        </div>
                                        <div class="ml-auto">
                                            <h2 class="counter text-danger"> <div th:text="'$ ' + ${statistics.expenses}"></div></h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- ============================================================== -->
                <!-- End Info box -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Body -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="card-title">Transactions</h5>
                                        <h6 class="card-subtitle">View your transactions here </h6>
                                    </div>                                    
                                    <div class="ml-auto">
                                        <select class="form-control b-0" id="transactions-month-year-select">
                                            <option th:each="month : ${months}" th:value="${month}" th:text="${month}"></option>
                                        </select>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="form-group" id="select-category-class-on-transactions">
                                        <select class="form-control custom-select b-0" id="transactions-category-select">
                                            <option value="0">Incomes and Expenses</option>
                                            <option value="1">Incomes</option>
                                            <option value="2">Expenses</option>
                                        </select>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="form-group" id="select-status-class">
                                        <select class="form-control custom-select b-0" id="transactions-status-select">
                                            <option value="0">Paid and Not Paid</option>
                                            <option value="1">Paid</option>
                                            <option value="2">Not paid</option>
                                        </select>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="form-group">
									    <input type="text" class="form-control form-control-line" placeholder="Search..." autocomplete="off" id="transactions-table-search" required>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-6">
                                        <h3 id="transactions-date-table"></h3>
                                        <h5 class="font-light m-t-0">Report for this month</h5></div>
                                    <div class="col-6 align-self-center display-6 text-right">
                                        <h2 class="" id="transactions-value-total"></h2> </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover no-wrap">
                                    <thead>
                                            <tr>
                                                <th></th>
                                                <th>Date</th>
                                                <th>Account</th>
                                                <th>Category</th>
                                                <th>Method</th>
                                                <th>Description</th>
                                                <th>Value</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="transactions-table">
                                             <tr th:each="transaction: ${transactions}">
                                                <td th:if="${transaction.payOrNotPay}" class="text-center"><i class="icon-check text-success"></i></td>
                                                <td th:unless="${transaction.payOrNotPay}" class="text-center"><i class="icon-check text-danger"></i></td>
                                                
                                                <td th:text="${transaction.transactionDueDate}" class="transactions-table-date" />
                                                <td th:text="${transaction.account.name}" />
                                                <td th:text="${transaction.category.name}" />
                                                <td th:text="${transaction.category.type.ordinal()}" class="transactions-table-category-type" hidden='' />
                                                <td th:text="${transaction.payOrNotPay}" class="transactions-table-paynotpay" hidden='' />
                                                <td th:text="${transaction.method.name}" />
                                                <td><small th:text="${transaction.description}"></small></td>
                                                <td th:text="'$ ' + ${transaction.value}" class="transactions-table-value" />
                                                
                                                <td class="text-center">
	                                                <a href="#" title="Edit" th:onclick="'editTransaction(\'' + ${transaction.id} +'\', \'' + ${transaction.category.type.ordinal()} +'\');'" data-toggle="modal" data-target="#transaction-edit"><i class="ti-pencil-alt text-warning"></i></a>	                                                
	                                                &nbsp;&nbsp;&nbsp;
	                                                <a href="#" title="Delete" th:onclick="'deleteTransaction(\'' + ${transaction.id} +'\');'" data-toggle="modal" data-target="#delete-transaction"><i class="ti-trash text-danger"></i></a>                                               
                                                </td>
                                                
                                            </tr>                                            
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="card-title">Accounts</h5>
                                        <h6 class="card-subtitle">View your accounts and wallets here </h6>
                                    </div>
                                    <div class="ml-auto form-group">
									    <input type="text" class="form-control form-control-line" placeholder="Search..." autocomplete="off" id="accounts-table-search" required>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-6"> </div>
                                    <div class="col-6 align-self-center text-right"> </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover no-wrap">
                                    <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Initial Balance</th>
                                                <th>Actual Balance</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="accounts-table">
                                             <tr th:each="account: ${accounts}">
                                                <td th:text="${account.name}" />
                                                <td th:text="'$ ' + ${account.initialBalance}" />
                                                <td th:text="'$ ' + ${account.actualBalance}" />
                                                <td class="text-center">
	                                                <a href="#" title="Edit" th:onclick="'editAccount(\'' + ${account.id} +'\');'" data-toggle="modal" data-target="#edit-account"><i class="ti-pencil-alt text-warning"></i></a>
	                                                &nbsp;&nbsp;&nbsp;
	                                                <a href="#" title="Delete" th:onclick="'deleteAccount(\'' + ${account.id} +'\');'"><i class="ti-trash text-danger"></i></a>
                                                </td>
                                            </tr>                                            
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-lg-6">
                    <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="card-title">Categories</h5>
                                        <h6 class="card-subtitle">View your Categories here </h6>
                                    </div>
                                    <div class="ml-auto form-group" id="select-category-class-on-categories">
                                        <select class="form-control custom-select b-0" id="categories-category-select">
                                            <option value="0">Incomes and Expenses</option>
                                            <option value="1">Incomes</option>
                                            <option value="2">Expenses</option>
                                        </select>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="form-group">
									    <input type="text" class="form-control form-control-line" placeholder="Search..." autocomplete="off" id="categories-table-search" required>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-3"> </div>
                                    <div class="col-9 align-self-center text-right"> 
                                    <h5>
                                    <em>Total Monthly Paid $ <span id="categories-value-paid">0.00</span></em> / 
                                    <em>Total Monthly Pending $ <span id="categories-value-pending">0.00</span></em>
                                    </h5> </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover no-wrap">
                                    <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>Monthly Paid</th>
                                                <th>Monthly Pending</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="categories-table">
                                             <tr th:each="category: ${categories}">
                                                <td th:text="${category.name}" />
                                                <td th:text="${category.type}" />
                                                <td th:text="${category.type.ordinal()}" class="categories-table-category-type" hidden='' />
                                                <td th:text="'$ ' + ${category.paidMonthlyMovement}" class="categories-table-paid" />
                                                <td th:text="'$ ' + ${category.toPayMonthlyMovement}" class="categories-table-pending" />
                                                <td class="text-center">
	                                                <a href="#" title="Edit" th:onclick="'editCategory(\'' + ${category.id} +'\');'" data-toggle="modal" data-target="#edit-category"><i class="ti-pencil-alt text-warning"></i></a>
	                                                &nbsp;&nbsp;&nbsp;
	                                                <a href="#" title="Delete" th:onclick="'deleteCategory(\'' + ${category.id} +'\');'"><i class="ti-trash text-danger"></i></a>
                                                </td>
                                            </tr>                                            
                                        </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                    
                    <div class="col-lg-6">
                    <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="card-title">Methods</h5>
                                        <h6 class="card-subtitle">View your methods here </h6>
                                    </div>
                                    <div class="ml-auto form-group">
									    <input type="text" class="form-control form-control-line" placeholder="Search..." autocomplete="off" id="methods-table-search" required>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-6"> </div>
                                    <div class="col-6 align-self-center text-right"> </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover no-wrap">
                                    <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Monthly Paid</th>
                                                <th>Monthly Pending</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="methods-table">
                                             <tr th:each="method: ${methods}">
                                                <td th:text="${method.name}" />
                                                <td th:text="'$ ' + ${method.paidMonthlyMovement}" />
                                                <td th:text="'$ ' + ${method.toPayMonthlyMovement}" />
                                                <td class="text-center">
	                                                <a href="#" title="Edit" th:onclick="'editMethod(\'' + ${method.id} +'\');'" data-toggle="modal" data-target="#edit-method"><i class="ti-pencil-alt text-warning"></i></a>
	                                                &nbsp;&nbsp;&nbsp;
	                                                <a href="#" title="Delete" th:onclick="'deleteMethod(\'' + ${method.id} +'\');'"><i class="ti-trash text-danger"></i></a>
                                                </td>
                                            </tr>                                            
                                        </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Body -->
                <!-- ============================================================== -->

            </div>
        </div>
        
        <!-- ============================================================== -->
        <!-- Modals -->
        <!-- ============================================================== -->
        <div th:replace="fragments/modals/transaction-income-add :: transaction-income-add" ></div>
        <div th:replace="fragments/modals/transaction-expense-add :: transaction-expense-add" ></div>
        <div th:replace="fragments/modals/transaction-edit :: transaction-edit" ></div>
        <div th:replace="fragments/modals/transaction-delete :: transaction-delete" ></div>
        
        <div th:replace="fragments/modals/method-add :: method-add" ></div>
        <div th:replace="fragments/modals/method-edit :: method-edit" ></div>
        
        <div th:replace="fragments/modals/category-add :: category-add" ></div>
        <div th:replace="fragments/modals/category-edit :: category-edit" ></div>
        
        <div th:replace="fragments/modals/account-add :: account-add" ></div>
        <div th:replace="fragments/modals/account-edit :: account-edit" ></div>
        
        <div th:replace="fragments/modals/user-edit :: user-edit" ></div>
        <!-- ============================================================== -->
        <!-- Modals -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Footer -->
        <!-- ============================================================== -->
        <div th:replace="fragments/templates/footer :: footer" ></div>
        <!-- ============================================================== -->
        <!-- Footer -->
        <!-- ============================================================== -->
    </div>
    
    <!-- ============================================================== -->
    <!-- JavaScript -->
    <!-- ============================================================== -->
    <div th:replace="fragments/templates/javascript :: javascript" ></div>
    
    <script src="/dist/my-javascript/transactions-features.js"></script>
    <script src="/dist/my-javascript/transaction.js"></script>
    <script src="/dist/my-javascript/account.js"></script>
    <script src="/dist/my-javascript/category.js"></script>
    <script src="/dist/my-javascript/method.js"></script>
    <!-- ============================================================== -->
    <!-- JavaScript -->
    <!-- ============================================================== -->
    
</body>

</html>