<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org" lang="en">

    <!-- ============================================================== -->
    <!-- Head -->
    <!-- ============================================================== -->
    <div th:replace="fragments/templates/head :: head" ></div>
    <!-- ============================================================== -->
    <!-- Head -->
    <!-- ============================================================== -->

<body class="skin-default fixed-layout">

    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div th:replace="fragments/templates/pre-loader :: pre-loader" ></div>
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->

    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Navbar header -->
        <!-- ============================================================== -->
        <div th:replace="fragments/templates/navbar-header :: navbar-header" ></div>
        <!-- ============================================================== -->
        <!-- Navbar header -->
        <!-- ============================================================== -->

        <aside class="left-sidebar">

            <div class="scroll-sidebar">

                <!-- ============================================================== -->
		        <!-- User profile -->
		        <!-- ============================================================== -->
		        <div th:replace="fragments/templates/user-profile :: user-profile" ></div>
		        <!-- ============================================================== -->
		        <!-- User profile -->
		        <!-- ============================================================== -->

                <!-- ============================================================== -->
		        <!-- Menu -->
		        <!-- ============================================================== -->
		        <div th:replace="fragments/templates/menu :: menu" ></div>
		        <!-- ============================================================== -->
		        <!-- Menu -->
		        <!-- ============================================================== -->

            </div>

        </aside>

        <div class="page-wrapper">
            <div class="container-fluid">
            
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Transactions</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
                                <li class="breadcrumb-item active">Transactions</li>
                            </ol>
                            <button type="button" class="btn btn-success d-none d-lg-block m-l-15" data-toggle="modal" data-target="#transaction-income-add"><i class="fa fa-plus-circle"></i> Add Income</button>
                            <button type="button" class="btn btn-danger d-none d-lg-block m-l-15" data-toggle="modal" data-target="#transaction-expense-add"><i class="fa fa-plus-circle"></i> Add Expense</button>
                        </div>
                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- Body -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="card-title">Overview</h5>
                                        <h6 class="card-subtitle">View your transactions here </h6>
                                    </div>                                    
                                    <div class="ml-auto">
                                        <select class="form-control b-0" id="transactions-month-year-select">
                                            <option th:each="month : ${months}" th:value="${month}" th:text="${month}"></option>
                                        </select>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="form-group" id="select-category-class">
                                        <select class="form-control custom-select b-0" id="transactions-category-select">
                                            <option value="0">Incomes and Expenses</option>
                                            <option value="1">Incomes</option>
                                            <option value="2">Expenses</option>
                                        </select>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="form-group" id="select-status-class">
                                        <select class="form-control custom-select b-0" id="transactions-status-select">
                                            <option value="0">Paid and Not Paid</option>
                                            <option value="1">Paid</option>
                                            <option value="2">Not paid</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-6">
                                        <h3 id="transactions-date-table"></h3>
                                        <h5 class="font-light m-t-0">Report for this month</h5></div>
                                    <div class="col-6 align-self-center display-6 text-right">
                                        <h2 class="" id="transactions-value-total"></h2> </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover no-wrap">
                                    <thead>
                                            <tr>
                                                <th></th>
                                                <th>Date</th>
                                                <th>Account</th>
                                                <th>Category</th>
                                                <th>Method</th>
                                                <th>Description</th>
                                                <th>Value</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="transactions-table">
                                             <tr th:each="transaction: ${transactions}">
                                                <td th:if="${transaction.payOrNotPay}" class="text-center"><i class="icon-check text-success"></i></td>
                                                <td th:unless="${transaction.payOrNotPay}" class="text-center"><i class="icon-check text-danger"></i></td>
                                                
                                                <td th:text="${transaction.transactionDueDate}" class="transactions-table-date" />
                                                <td th:text="${transaction.account.name}" />
                                                <td th:text="${transaction.category.name}" />
                                                <td th:text="${transaction.category.type.ordinal()}" class="transactions-table-category-type" hidden />
                                                <td th:text="${transaction.payOrNotPay}" class="transactions-table-paynotpay" hidden />
                                                <td th:text="${transaction.method.name}" />
                                                <td><small th:text="${transaction.description}"></small></td>
                                                <td th:text="${transaction.value}" class="transactions-table-value" />
                                                
                                                <td class="text-center">
	                                                <a href="#" title="Edit" th:onclick="'editTransaction(\'' + ${transaction.id} +'\', \'' + ${transaction.category.type.ordinal()} +'\');'" data-toggle="modal" data-target="#transaction-edit"><i class="ti-pencil-alt text-warning"></i></a>	                                                
	                                                &nbsp;&nbsp;&nbsp;
	                                                <a href="#" title="Delete" th:onclick="'deleteTransaction(\'' + ${transaction.id} +'\');'" data-toggle="modal" data-target="#delete-transaction"><i class="ti-trash text-danger"></i></a>                                               
                                                </td>
                                                
                                            </tr>                                            
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Body -->
                <!-- ============================================================== -->

            </div>
        </div>
        
        <!-- ============================================================== -->
        <!-- Toastr -->
        <!-- ============================================================== -->
        <div th:replace="fragments/templates/toastr :: toastr" ></div>
        <!-- ============================================================== -->
        <!-- Toastr -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- Modals -->
        <!-- ============================================================== -->
        <div th:replace="fragments/modals/transaction-income-add :: transaction-income-add" ></div>          
        <div th:replace="fragments/modals/transaction-expense-add :: transaction-expense-add" ></div>
        <div th:replace="fragments/modals/transaction-edit :: transaction-edit" ></div> 
        <div th:replace="fragments/modals/transaction-delete :: transaction-delete" ></div>
        <div th:replace="fragments/modals/user-edit :: user-edit" ></div>     
        <!-- ============================================================== -->
        <!-- Modals -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Footer -->
        <!-- ============================================================== -->
        <div th:replace="fragments/templates/footer :: footer" ></div>
        <!-- ============================================================== -->
        <!-- Footer -->
        <!-- ============================================================== -->
    </div>
    
    <!-- ============================================================== -->
    <!-- JavaScript -->
    <!-- ============================================================== -->
    <div th:replace="fragments/templates/javascript :: javascript" ></div>
    
    <script src="/dist/my-javascript/transactions-features.js"></script>
    <script src="/dist/my-javascript/transaction.js"></script>
    <!-- ============================================================== -->
    <!-- JavaScript -->
    <!-- ============================================================== -->
    
</body>

</html>