<div th:fragment="head">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Rodrigo Farias">

<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
<title>Financial Application</title>
    
<link href="/assets/node_modules/toast-master/css/jquery.toast.css" rel="stylesheet">
<link href="/dist/css/style.min.css" rel="stylesheet">
<link href="/dist/css/pages/dashboard1.css" rel="stylesheet">
<link href="/assets/node_modules/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css" rel="stylesheet">

<script src="/assets/node_modules/sweetalert/sweetalert.js" type="text/javascript" ></script>
<link href="/assets/node_modules/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">

<link href="/assets/node_modules/icheck/skins/all.css" rel="stylesheet">
<link href="/dist/css/pages/form-icheck.css" rel="stylesheet">

</head>

</div>