<div th:fragment="javascript">

<script src="/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
<script src="/assets/node_modules/popper/popper.min.js"></script>
<script src="/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="dist/js/perfect-scrollbar.jquery.min.js"></script>
<script src="dist/js/waves.js"></script>
<script src="dist/js/sidebarmenu.js"></script>
<script src="dist/js/custom.min.js"></script>
<script src="/assets/node_modules/toast-master/js/jquery.toast.js"></script>
<script src="dist/js/dashboard1.js"></script>
<script src="/assets/node_modules/datatables/datatables.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js" type="text/javascript"></script>

<script src="/assets/node_modules/icheck/icheck.min.js"></script>
<script src="/assets/node_modules/icheck/icheck.init.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script src="/dist/my-javascript/all.js"></script>

</div>