<div th:fragment="menu">

<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li class="nav-small-cap">--- FINANCIAL</li>
        <li>
            <a class="waves-effect waves-dark" th:href="@{/dashboard}" aria-expanded="false">
                <i class="ti-calendar"></i>
                <span class="hide-menu">Dashboard</span>
            </a>
        </li>
        <li>
            <a class="waves-effect waves-dark" th:href="@{/transactions}" aria-expanded="false">
                <i class="ti-reload"></i>
                <span class="hide-menu">Transactions</span>
            </a>
        </li>
        <li>
            <a class="waves-effect waves-dark" th:href="@{/accounts}" aria-expanded="false">
                <i class="ti-wallet"></i>
                <span class="hide-menu">Accounts</span>
            </a>
        </li>
        <li>
            <a class="waves-effect waves-dark" th:href="@{/categories}" aria-expanded="false">
                <i class="mdi mdi-label-outline"></i>
                <span class="hide-menu">Categories</span>
            </a>
        </li>
        <li>
            <a class="waves-effect waves-dark" th:href="@{/methods}" aria-expanded="false">
                <i class="ti-layers"></i>
                <span class="hide-menu">Methods</span>
            </a>
        </li>
        <li>
            <a class="waves-effect waves-dark" th:href="@{/logout}" aria-expanded="false">
                <i class="ti-power-off"></i>
                <span class="hide-menu">Logout</span>
            </a>
        </li>
    </ul>
</nav>

</div>