<div th:fragment="pre-loader">

	<div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Financial Application</p>
        </div>
    </div>

</div>