<div th:fragment="toastr">

<input type="text" id="texttoastr" class="form-control" th:value="${text}" hidden=''>
<input type="text" id="messagetoastr" class="form-control" th:value="${message}" hidden='' maxlength="1">   

</div>