<div th:fragment="user-profile">

	<div class="user-profile">
		<div class="user-pro-body">
			<div>
				<img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle">
			</div>
			<div class="dropdown">
				<a href="javascript:void(0)" class="dropdown-toggle u-dropdown link hide-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><div th:text="${logged.name}"></div>
				<span class="caret"></span>
				</a>
				<div class="dropdown-menu animated flipInY">

					<a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#edit-user"> <i class="ti-user"></i> My Profile
					</a>
					<div class="dropdown-divider"></div>

					<a th:href="@{/logout}" class="dropdown-item"> <i class="ti-power-off"></i> Logout
					</a>

				</div>
			</div>
		</div>
	</div>

</div>